:root {
  --primary: #ebc908;
  --primary-text: #ffffff;
  --secondary: #D80621;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

.bgdiv {
    min-height: 100vh;
    align-items: center;
    background-color: none;
    width: 100%;
    background-image: url(/config/images/bg.png);
    background-size: contain;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    background-color: var(--accent);
    padding: 24px;
    border-radius: 24px;
    border: 4px dashed var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 11px 2px;
    margin: auto;
    margin-top: 24px;
    width: 50%;
    
}

a {
    color: var(--secondary);
}

h1, h2, p {
   text-align: center;
   color: var(--accent-text);
   font-family: 'Sora', sans-serif;
}

p.q {
    color: var(--primary);
    font-weight: bold;
}

p.q, p.a {
    text-align: left;
}

.logo {
   width: 300px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.logodiv {
   margin: auto;
   width: 50%;
}
